body {
  background: linear-gradient(
    90deg,
    rgba(43, 94, 28, 1) 41%,
    rgba(56, 91, 16, 1) 98%
  );
}

.container {
  display: flex;
  flex-direction: row;
}
.left-side {
  background-image: url('./img/roadtrip-signup.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  width: 500px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .left-side {
    background: url('./img/roadtrip-signup.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vw;
    width: 412px;
  }
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateY(10vw);
  position: fixed;
  width: 16em;
}
.icon {
  height: 50px;
  width: 50px;
}
.left-title {
  color: darkseagreen;
}

.right-top {
  padding: 1rem;
}

#entry-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: 600px;
  margin: auto;
  border: 0.2rem solid darkseagreen;
  border-radius: 10%;
  padding: 25px;
}
